{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

    <p>Name: {{ student.fullName }}</p>
    <p>UsName: {{ student.username }}</p>

{% endblock %}
