{% extends 'base.html.twig' %}

{% block title %}Об программе{% endblock %}

{% block body %}

    <style>
        .container {
            margin-top: 250px;
        }
    </style>

    <div class="container">
        <h1 class="text-center">Электронное пособие по учебной дисциплине "ЗКИ"</h1>
        <h2 class="text-center">Разработано учащейся группы 28 ТП Бакунович Е.И.</h2>
    </div>

{% endblock %}
