{% extends 'base.html.twig' %}

{% block title %}Об программе{% endblock %}

{% block body %}

    <style>
        .container {
            margin-top: 30px;
            font-size: 17px;
            text-align: justify;
        }
    </style>

    <div class="container">
        <p>
            <p>Данное веб-приложение было разработано с целью упростить учебный процесс по дисциплине «Защита компьютерных технологий». Веб-приложение поможет осуществить ведение БД пользователей и сформировать аналитическую статистику и построение диаграмм по пройденным тестам. Также предусмотрена возможность добавления, изменения и удаления лекционного и лабораторно-практического материала, тестов, данных пользователей.
        </p>
            <p>Авторизованный преподаватель имеет несколько разделов веб-приложения:        </p>
{#        <br>#}
        <p>
            – «Разделы» – можно загружать лекционные материалы, удалять и изменять. А также прикреплять видеоматериалы.<br>
            – «Лабораторные» – позволяет добавлять, изменять и удалять лабораторно-практические работы.<br>
            – «Тесты» – позволяет создавать новые тестирования, изменять старые и удалять существующие.<br>
            – «Группы» – можно добавить новые группы, изменить и удалить имеющиеся.<br>
            – «Учащиеся» – позволяет добавлять нового учащегося, изменять и удалять.<br>
            – «Статистика» – позволяет посмотреть статистику по группам и учащимся, а также оценки и средний балл по ним.<br>
            – «Зачесть ЛПР» – можно зачесть лабораторно-практическую работу учащимся.<br>
            – «Изменить пароль» – позволяет изменить старый пароль.</p>
        <br>
           <p> Авторизованный учащийся имеет несколько разделов веб-приложения:</p>
        <p>
            – «Разделы» – можно просматривать лекционный материал.<br>
            – «Лабораторные» – позволяет просмотреть лабораторные работы.<br>
            – «Тесты» – можно пройти тестирования на оценку качества знаний.<br>
            – «Статистика» – позволяет посмотреть оценки за тесты и средний балл по ним.<br>
            – «Изменить пароль» – позволяет изменить старый пароль.</p>

        <p>
            Автор программы – Бакунович Екатерина Игоревна учащаяся учебной группы 28ТП МГК электроники.</p>
    </div>

{% endblock %}
