{% extends 'student_base.html.twig' %}

{% block title %}Hello RazdelController!{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 20px">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_razdel_new') }}">Новый раздел</a>
            <a href="{{ path('admin_lection_new') }}">Новая лекция</a>
            <hr>
        {% endif %}

        {% for razdel in razdels %}
            <p>
                <a href="{{ path('razdel_lections', {'id': razdel.id}) }}">{{ razdel.name }}</a>
            </p>
        {% endfor %}
    </div>



{% endblock %}
