{% extends 'student_base.html.twig' %}

{% block title %}Hello LabController!{% endblock %}

{% block body %}

    <div class="container">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_lab_new') }}" class="btn btn-primary">Новая лабораторная</a>

        {% endif %}

        {% for lab in labs %}
            <div class="lab">
                <a href="{{ path('lab_info', {'id': lab.id}) }}">{{ lab.name }}</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
