{% extends 'base.html.twig' %}

{% block title %}Hello LabController!{% endblock %}

{% block body %}

    <div class="container">
        {% for lab in labs %}
            <div class="lab">
{#                <p>{{ lab.name }}</p>#}
                <a href="{{ path('lab_info', {'id': lab.id}) }}">{{ lab.name }}</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
