{% extends 'teacher_base.html.twig' %}

{% block title %}Hello StatisticsController!{% endblock %}

{% block body %}
        <div class="row table">
            <div class="col-md-6">
                <div id="div_chart"></div>
            </div>

            <div class="col-4">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Студенты</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                        {% if student.roles[0] != 'ROLE_ADMIN' %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_stats_student', {'id': student.id}) }}">{{ student.fullName }}</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(chart, 'div_chart') }}
    </script>
{% endblock %}
