{% extends 'student_base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

    {% for test in tests %}
        <p>Name: {{ test.name }}</p>
        <a href="{{ path('student_test_pass', {'id': test.id}) }}">Pass test</a>
    {% endfor %}

{% endblock %}
