{% extends 'student_base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">{{ knp_pagination_sortable(tests, 'Тест', ['t.name']) }}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for test in tests %}
                <tr>
                    <td>{{ test.name }}</td>
                    <td>
                        <a href="{{ path('student_test_pass', {'id': test.id}) }}">Пройти тест</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {{ knp_pagination_render(tests) }}
        </div>
    </div>
{% endblock %}
