{% extends 'base.html.twig' %}

{% block title %}Изменить учащегося{% endblock %}

{% block body %}

   <style>
      button {
         margin-top: 10px;
      }
   </style>

   <div class="container">
      <div class="delete-student">
         <a href="{{ path('admin_students_delete', {'id': studentId}) }}" class="btn btn-danger" style="margin-top: 10px; margin-bottom: 10px">Удалить учащегося</a>
      </div>

      {{ form(form) }}
   </div>
{% endblock %}
