{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <table>
        <thead>
            <tr>
                <th scope="col">User name</th>
                <th scope="col">Full name</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.roles[0] != 'ROLE_ADMIN' %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.fullName }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
