{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

   <style>
      button {
         margin-top: 10px;
      }
   </style>

   <div class="container">
      {{ form(form) }}
   </div>
{% endblock %}
